<h1 id="h1_mobelmo" class="h1_mobelmo"> Découvrez nos collections de meubles  design, rustique et classique </h1>

<div id="galery_repmad">

<div class="galery_images">
    <a href="/categories/salon">
        <img src="{{ asset('assets/img/mobilier-design-ambiance-Elmo.png')}}" class="img-responsive" alt="Meubles pour le salon">
    </a>

    <h3 class="h3-galery_repmad">Meubles pour le salon</h3>

    <p class="p-galery_repmad">
    Le living est le meuble polyvalent de votre salon. A la fois bibliothèque, vitrine, meuble télévision, il en devient un pièce centrale de votre mobilier. Vous trouverez dans cet espace un assortiment de livings classiques ou contemporains, avec ou sans meuble TV, avec ou sans bar. Et comme toujours, ELMO peut vous créer votre living sur mesure.
    </p>
</div>

<div class="galery_images">
    <a href="/categories/salle-a-manger">
        <img src="{{ asset('assets/img/buffet-enfilade-design.png')}}" class="img-responsive" alt="Meubles pour la salle à manger">
    </a>

    <h3 class="h3-galery_repmad">Meubles pour la salle à manger</h3>

    <p class="p-galery_repmad">
     Depuis sa création en 1987, Meubles ELMO est fier de proposer à ses fidèles clients des meubles de salle à manger de qualité. La plupart de nos meubles telles que les tables repas et chaises design sont de conception française et fabriqué en Europe. Non seulement, nos gammes de mobilier sont toujours à mode et tendance, elles sont aussi solides et peuvent avoir une durée de vie de plusieurs années. 
    </p>
</div>

<div class="galery_images">
    <a href="/categories/chambre">
        <img src="{{ asset('assets/img/meubles-design-chambre.png')}}" class="img-responsive" alt="Meubles pour  chambre à coucher">
    </a>

    <h3 class="h3-galery_repmad">Meubles pour  chambre à coucher</h3>

    <p class="p-galery_repmad">
    La chambre est une des pièces essentielle de la maison. C'est l'espace multitâches et multi services par excellence. La chambre doit favoriser le sommeil réparateur et offrir un lieu intime et chaleureux, elle vous apporte douceur et sérénité avant ou après une rude journée de labeur. La chambre est aussi un espace de rangement. Vous trouverez ici une large gamme de lits, armoires, chevets, commodes et chiffonniers.
    </p>
</div>

<div class="galery_images">
    <a href="categories/canapes">
        <img src="{{ asset('assets/img/salon-design-canapes-et-fauteuils.png')}}" class="img-responsive" alt="Mobilier design contemporain">
    </a>

    <h3 class="h3-galery_repmad">Canapés et fauteuils cuir</h3>

    <p class="p-galery_repmad">
    Appréciez notre collection de canapés en cuir, pleine fleur ou fleur légèrement rectifiée, sélectionnés pour la qualité du cuir, des finitions et de leur design. Choisissez parmi des centaines de coloris de cuir de vachette ou cuir de buffle. Vous aimerez nos canapés fixes ou d’angle, classiques ou contemporains
    </p>
</div>

<div class="galery_images">
    <a href="/categories/tables-et-chaises">
        <img src="{{ asset('assets/img/meubles-design-salle-a-manger.png')}}" class="img-responsive" alt="Tables et chaises repas">
    </a>

    <h3 class="h3-galery_repmad">Tables et chaises repas</h3>

    <p class="p-galery_repmad">
    Vous pouvez trouver sur le site de Meubles Elmo mais également dans nos magasins de vraies bonnes affaires. Allant de salle à manger complète jusqu'au petits meubles d'entrée telles que tables consoles design en passant par les canapés d'angle ou encore les chambres au style moderne et contemporain (lit coffre, grande armoire avec miroir, tables de chevets...etc). Ces meubles sont souvent proposés à des prix avec grande remise  jusqu'à -50% même en période hors soldes.
    </p>
</div>

<div class="galery_images">
    <a href="/categories/literie">
        <img src="{{ asset('assets/img/tete-de-lit.png')}}" class="img-responsive" alt=">Lits et têtes de lits">
    </a>

    <h3 class="h3-galery_repmad">Lits et têtes de lits modernes et contemporains </h3>

    <p class="p-galery_repmad">
    La tête de lit est la touche finale de la décoration de votre chambre, c'est elle qui finalisera le style classique ou moderne, design ou tendance de votre intérieur. Vous trouverez dans cette partie un choix varié de têtes de lit, tête de lit laquée, tête de lit en cuir, tête de lit capitonnée, tête de lit tissu, tête de lit en fer forgé ou tête de lit en bois. Choisissez parmi les différentes formes, coloris et matières et n'oubliez pas qu'ELMO est aussi le spécialiste de la tête de lit sur mesure.
    </p>
</div>


</div>
